@use '../custom' as *;
// ABSOLUTE CENTER
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexColumnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin mainGradient {
  background: linear-gradient(194.68deg, $orange-light 11.27%, #f3af34 90.4%);
}

@mixin subtitleText {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
}
@mixin smText {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
}
@mixin titleText {
  font-family: Arial;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-align: left;
}
